* {
  box-sizing: border-box;
}

li,
a {
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 0;
}

img {
  opacity: 0.8;
}

ul,
p {
  margin: 0;
  padding: 0;
}

.txt-bold {
  font-weight: bold;
}

.bg-blue {
  background-color: #0057ff;
}

.bg-dark-blue {
  background-color: #0055ffe0;
}

/*  HEADER */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #0055ffe0;
  color: #fff;
  align-items: center;
  height: 75px;
}

.header-button {
  display: flex;
  align-items: center;
}

.header-options > * {
  margin-left: 15px;
  cursor: pointer;
}

.back-btn {
  margin-right: 10px;
  cursor: pointer;
}

.back-btn,
.header-year {
  display: inline-block;
}

.stats-by {
  background-color: #0057ff;
  color: #fff;
  padding: 10px 4px;
}

/*  CURRENCY DETAILS */

.currency-detail-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.currency-detail-ul {
  padding: 0;
  margin: 0;
}

.currency-detail-ul > li {
  padding: 20px 0;
  background-color: #0057ff;
  color: #fff;
}

.crypto-name {
  text-transform: capitalize;
  font-weight: bold;
}

.crypto-value {
  text-align: right;
  width: 100%;
  padding-right: 30px;
  color: #fff;
}

.crypto-value-name {
  font-size: 30px;
}

/*  CURRENCY VALUE WRAPPER */
.crypto-value-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crypto-value-wrapper > li {
  width: 50%;
  height: 80%;
}

.crypto-ul > li {
  width: 50%;
}

.currency-detail-ul li:nth-child(even) {
  background-color: #0055ffe0;
}

.crypto-value-wrapper > img {
  width: 20%;
}

.crypto-image {
  width: 100%;
  height: 100%;
}

.image-wrapper {
  text-align: left;
}

/*  CRYPTO VALUE */

.crypto-ul {
  display: flex;
  flex-wrap: wrap;
}

.crypto-main {
  flex-direction: column;
}

.crypto-main .image-wrapper {
  width: 50%;
  height: 50%;
}

.breakdown {
  color: white;
  padding: 10px;
}

.highest-jump {
  display: flex;
  color: white;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.highest-jump > div {
  width: 50%;
}

.highest-img {
  width: 100%;
  opacity: 0.6;
}

.highest-info {
  text-align: right;
  padding-right: 5px;
}

.top-rank-wrapper {
  display: flex;
  justify-content: space-between;
}

.rank {
  padding: 5px;
  width:200px;
  border:none;
  outline: none;
  background-color: #0057ff;
  color: #fff;
  font-weight: bold;
}