li,
a {
  list-style-type: none;
  text-decoration: none;
}

ul,
p {
  margin: 0;
  padding: 0;
}

.txt-bold {
  font-weight: bold;
}

.bg-blue { 
  background-color: #0057ff;
}
/*  HEADER */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #0055ffe0;
  color: #fff;
  align-items: center;
}

.header-button {
  display: flex;
  align-items: center;
}

.back-btn{
  margin-right: 10px;
  cursor: pointer;
}
.back-btn,
.header-year {
  display: inline-block;
}

.stats-by {
  background-color: #0057ff;
  color: #fff;
  padding:10px 4px;
}

/*  CURRENCY DETAILS */

.currency-detail-wrapper {
  display: flex;
  justify-content: space-between;
}
.currency-detail-ul {
  padding: 0;
  margin: 0;
}

.currency-detail-ul > li {
  padding: 20px 0;
  background-color: #0057ff;
  color: #fff;
}

.currency-detail-ul li:nth-child(even) {
  background-color: #0055ffe0;
}

.crypto-name {
  text-transform: capitalize;
  font-weight: bold;
}

.crypto-value {
  text-align: right;
  width: 100%;
  padding-right: 30px;
}

.crypto-value-name{
  font-size: 30px;
}

/*  CURRENCY VALUE WRAPPER */
.crypto-value-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center; 
}

.crypto-value-wrapper > li {
  width: 50%;
  height: 80%;
}

.crypto-value-wrapper > img {
  width: 20%;
}

.crypto-image {
  width: 100%;
  height: 100%;
}

.image-wrapper {
  text-align: left;
}

.crypto-value {
  text-align: right;
  color: #fff;
}

/*  CRYPTO VALUE */

.crypto-ul {
  display: flex;
  flex-wrap: wrap;
}
.crypto-ul > li {
  width: 50%;
  background-color: #0057ff;
}

.crypto-ul li:nth-child(odd) {
  background-color: #0055ffe0;
}

.crypto-main {
  flex-direction: column;
}
.crypto-main .image-wrapper {
  width: 50%;
  height: 50%;
}